<div>
    <h2>PRODUCCIONES GH</h2>
    <p> 
        Nombre: Producciones GH. <br>
        Razón Social:  Servicio de alquiler de luz y sonido.<br>
        Giro: Servicio de audio e iluminación para eventos sociales.<br>
        Misión: Ofrecer una experiencia única en eventos sociales mediante el uso de tecnología de audio e iluminación de alta calidad, garantizando una ambientación excepcional y un servicio profesional de DJ.<br>
        Visión: Ser una empresa líder en el sector de eventos, reconocida por la calidad de su servicio y la innovación en la experiencia de entretenimiento.<br>
        Valores: Compromiso, Respeto, Eficiencia, Innovación, Profesionalismo y Responsabilidad.<br>
        Productos y servicios: <br>
        •	Renta de equipo de audio e iluminación para eventos.<br>
        •	Servicios de DJ durante el evento.<br>
        •	Asesoramiento en ambientación musical y efectos de iluminación.<br>
        Ubicación de la empresa: Calle Durango #22, San Gaspar Tlahuelilpan; Metepec Estado de México.
    </p>
</div>
