.info-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background-color: var(--color-card);
  border-radius: 10px;
  color: var(--color-texto);
}

 .info-section {
  margin-bottom: 30px;
} 

.info-section h3 {
  color: var(--color-primario);
  margin-bottom: 10px;
}


/* Estilos para el componente de Información */
div {
    background-color:var(--color-card);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

h2 {
    color: #D4AF37; /* Dorado para el título */
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

p {
    color: #0004ff; /* Color de texto principal */
    line-height: 1.6;
    font-size: 1.1rem;
}

strong {
    color:var(--color-primario); /* Dorado para resaltar texto */
}