/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #D4AF37; /* Dorado para los títulos */
}

a {
  color: #D4AF37; /* Dorado para los enlaces */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos globales para eventos de calendario */
.fc-daygrid-day-bg .fc-daygrid-bg-harness .fc-event {
  opacity: 0.7;
  border-radius: 2px;
}

.fc-event-disponible {
  background-color: #378006 !important;
}

.fc-event-no-disponible {
  background-color: #FF0000 !important;
  pointer-events: none !important;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { 
  height: 100%; 
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}